---
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.astro'
---

<Layout
  title="Home | Daniel Berg"
  description="Daniel Bergholz is a Senior Frontend Engineer and Content Creator"
>
  <main class="container">
    <div class="introduction">
      <img
        src="/assets/profile_picture.jpg"
        alt="Daniel Bergholz profile picture"
        class="image"
      />
      <h1 class="title">Hello <span>&#x1F44B;</span></h1>
    </div>

    <h2 class="subtitle">
      My name is <span class="text-underline">Daniel Bergholz</span>, I'm a
      Senior Frontend Engineer and Content Creator from Brazil
    </h2>

    <div class="links-container">
      <Button href="/links" title="Links" iconSrc="/assets/link.svg" />
      <Button
        href="mailto:bergholz.daniel@gmail.com"
        iconSrc="/assets/email.svg"
        title="Contact"
        target="_blank"
        rel="noopener"
      />
    </div>
  </main>
</Layout>

<style>
  .container {
    margin: 180px auto 0 auto;
    max-width: 60ch;
  }

  .title {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    color: #64f4ac;
  }

  .subtitle {
    text-align: center;
    font-weight: 300;
    margin: 50px 0;
  }

  .introduction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .image {
    border-radius: 50%;
    width: 200px;
  }

  .links-container {
    display: flex;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 600px) {
    .container {
      margin: 100px auto 0 auto;
    }

    .subtitle {
      margin: 40px 0;
    }

    .image {
      width: 160px;
    }

    .introduction {
      flex-direction: column;
      gap: 20px;
    }
  }
</style>
