---
type AnchorProps = {
  target?: string
  rel?: string
}

export type Props = AnchorProps & {
  title: string
  href: string
  iconSrc?: string
  color?: string
  backgroundColor?: string
}

const {
  href,
  title,
  iconSrc,
  color = "#fff",
  backgroundColor = "#000",
  ...anchorProps
} = Astro.props
---

<a href={href} {...anchorProps}>
  <button class="button">
    {iconSrc && <img src={iconSrc} alt="Social media link" />}
    <h2>
      {title}
    </h2>
  </button>
</a>

<style define:vars={{ color, backgroundColor }}>
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    width: 260px;
    background-color: var(--backgroundColor);
    border: none;
    border-radius: 6px;
    color: var(--color);
  }
</style>
