---
type AnchorProps = {
  target?: string
  rel?: string
}

export type Props = AnchorProps & {
  title: string
  href: string
  iconSrc?: string
  color?: string
  backgroundColor?: string
}

const {
  href,
  title,
  iconSrc,
  color = "#fff",
  backgroundColor = "#000",
  ...anchorProps
} = Astro.props
---

<a href={href} aria-label={title} {...anchorProps} class="anchor">
  {
    iconSrc && (
      <img src={iconSrc} alt="Social media link" width="35" height="35" />
    )
  }
  <p class="text">
    {title}
  </p>
</a>

<style define:vars={{ color, backgroundColor }}>
  .anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    width: 260px;
    background-color: var(--backgroundColor);
    border: none;
    border-radius: 6px;
    color: var(--color);
  }

  .text {
    font-weight: bold;
    font-size: 20px;
    margin: 14px 0;
  }
</style>
